<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherMan</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content ">

        {{>header}}
        <p class="sub-content">{{title}}</p>
        <p class="sub-content">About your favourite weather application Lorem ipsum dolor sit amet, consectetur
            adipisicing elit.
            Modi optio non, odit nam dolorum odio facere eveniet saepe ratione suscipit?</p>
        <p>Uses data from mapbox.com and darksky.net</p>
    </div>
    {{>footer}}
</body>

</html>